.derick{
    font-family: sans-serif;
    font-size: 50px;
    font-weight: 600;
    /* color: #0e0502; */
    
}
.baga{
    background-color: #c30047;
    /* color: #ffffff; */
    color: #ffffff;
}
.navbar {
  transition: all 0.3s ease;
}

.navbar-brand span {
  font-size: 1.25rem;
  color: #2b2b2b;
}

.nav-link {
  font-weight: 500;
  color: #333 !important;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  position: relative;
  transition: all 0.3s ease;
}

.nav-link:hover,
.nav-link.active {
  color: #ffffff !important;
}

/* Add an underline hover effect */
.nav-link::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  left: 0;
  bottom: 0;
  background-color: #ffffff;
  transition: width 0.3s ease;
}

.nav-link:hover::after,
.nav-link.active::after {
  width: 100%;
}

/* Dropdown styling */
.dropdown-menu {
  border-radius: 0.5rem;
  border: none;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0);
}

.dropdown-item:hover {
  background-color: #0d6efd;
  color: white;
}

/* Enroll button */
.navbar .btn-primary {
  border-radius: 25px;
  font-weight: 500;
}


/* Change background color of the Services dropdown */
.dropdown-menu {
  background-color: var(--bs-light-text-emphasis) !important;
}

/* .whar{
    color: #210303;
    font-size: large;
    font-weight: 100;
} */
.ruka{
    color: aliceblue;
}
.home1{
    display: flex;
    align-items: center;
    height: 100vh;
}


.magaji2 .card{
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.95);
}

.magaji2 .card:hover{
    transform: translate(0, -8px);
    transition: .4s;
}

.panda1{
    font-family: "Anton", sans-serif;
    color: #ffffff;
    background-color: #4e4e4e;
}
.panda2{
    font-family: "Anton", sans-serif;
    color: #ffffff;
    background-color: #fd5f00;
}
.panda3{
    font-family: "Anton", sans-serif;
    color: #ffffff;
    background-color: #a23131;
}
.header{
    font-weight: 900;
    text-align: center;
    color: #ffffff;
    font-size: 50px;
}
.crackhe{
    background-color: rgba(205, 165, 88, 0.95);
}
.hov{
    background-color: #8a8686;
    color: #ffffff;
}
.hov1{
    background-color: #f56f1b;
    color: #ffffff;
}
.hov2{
    background-color: #cf3737;git 
    color: #ffffff;

}
.banta{
    background-color: #c30047;
    color: #ffffff;
 }
