.nana{
    background-image: url(../../src/images.jpeg/ima23.jpg);
    background-size: cover;
    height: 60vh;
}
.malaga{
    padding-top: 170px;
    padding-left: 30px;
    color: white;
}
.baga{
    background-color: #c30047;
}
.whar{
    color: #ffffff;
    font-size: large;
    font-weight: 100;
}
.bara{
    background-color: #c30047;
    color: #ffffff;
}
.bara2{
    background-color: #c30047;
    /* height: 200px; */
}
.mara{
    font-size: 20px;
}
.why{
    color: #ffffff;
    font-weight: 400;
}
/* .par{
    margin: auto;
    padding: auto;
} */
 .ima{
    /* margin: auto; */
    justify-content: center;
    display: flex;
 }
 .banta{
    background-color: #c30047;
    color: #ffffff;
 }